<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_FpointstoreV2>
            <version>0.0.1</version>
        </Fahasa_FpointstoreV2>
    </modules>
    <global>
        <helpers>
            <fpointstorev2>
                <class>Fahasa_FpointstoreV2_Helper</class>
            </fpointstorev2>
        </helpers>
        <blocks>
            <fpointstorev2>
                <class>Fahasa_FpointstoreV2_Block</class>
            </fpointstorev2>
        </blocks>
        <resources>
            <fpointstorev2_setup>
                <setup>
                    <module>Fahasa_FpointstoreV2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fpointstorev2_setup>
        </resources>
    </global>
    <frontend>
	<events>
<!--	    <rule_validate>
		<observers>
		    <fahasa_fpointstorev2_model_observer>
			    <type>model</type>
			    <class>Fahasa_FpointstoreV2_Model_Data</class>
			    <method>getValidateRuleMessage</method>
		    </fahasa_fpointstorev2_model_observer>
		</observers>
	    </rule_validate>-->
	</events>
        <routers>
            <fpointstorev2>
                <use>standard</use>
                <args>
                    <module>Fahasa_FpointstoreV2</module>
                    <frontName>fpointstore</frontName>
                </args>
            </fpointstorev2>
        </routers>
        <translate>
            <modules>
                <Fahasa_FpointstoreV2>
                    <files>
                        <default>Fahasa_Fpointstore.csv</default>
                    </files>
                </Fahasa_FpointstoreV2>
            </modules>
        </translate>
	<layout>
            <updates>
                <fpointstorev2>
                    <file>fpointstore.xml</file>
                </fpointstorev2>
            </updates>
        </layout>
    </frontend>
    <default>
        <fpointstorev2_config>
            <config>
                <is_active>0</is_active>
                <slider_limit>10</slider_limit>
                <page_limit>12</page_limit>
            </config>
            <wallet_voucher>
                <is_active>0</is_active>
            </wallet_voucher>
        </fpointstorev2_config>
    </default>
</config>
