<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Webmoney>
            <version>0.1.1</version>
        </Fahasa_Webmoney>
    </modules>
    <global>
        <models>
            <webmoney>
                <class>Fahasa_Webmoney_Model</class>
            </webmoney>            
        </models>
        <helpers>
            <webmoney>
                <class>Fahasa_Webmoney_Helper</class>
            </webmoney>   
        </helpers>
        <blocks>
            <webmoney>
                <class>Fahasa_Webmoney_Block</class>
            </webmoney>
        </blocks>
        <resources>            
            <webmoney_setup>
                <setup>
                    <module>Fahasa_Webmoney</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </webmoney_setup>                       
        </resources>
    </global>
    <default>
        <payment>
            <webmoney>
                <model>webmoney/payment</model>
                <active>1</active>
                <mode>0</mode>
                <order_status>pending</order_status>
                <order_status_succeed>pending</order_status_succeed>
                <title>WebMoney - Thanh toán bằng WebMoney</title>
                <order_prefix>micode</order_prefix>
                <merchant_code></merchant_code>
                <passcode></passcode>	
                <secret_key></secret_key>			
                <create_order_url></create_order_url>
                <query_order_url></query_order_url>
                <cart_url></cart_url>	
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </webmoney>
        </payment>
    </default>
    <frontend>
        <routers>
            <webmoney>
                <use>standard</use>
                <args>
                    <module>Fahasa_Webmoney</module>
                    <frontName>webmoney</frontName>
                </args>
            </webmoney>
        </routers>
    </frontend>
</config>