<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Facebookuser>
            <version>0.2.0</version>
        </Fahasa_Facebookuser>
    </modules>
    <frontend>
        <routers>
            <facebookuser>
                <use>standard</use>
                <args>
                    <module>Fahasa_Facebookuser</module>
                    <frontName>facebookuser</frontName>
                </args>
            </facebookuser>
        </routers>
    </frontend>
    <global>
        <helpers>
            <facebookuser>
                <class>Fahasa_Facebookuser_Helper</class>
            </facebookuser>
        </helpers>
        <models>
            <facebookuser>
                <class>Fahasa_Facebookuser_Model</class>
                <resourceModel>facebookuser_mysql4</resourceModel>
            </facebookuser>
            <facebookuser_mysql4>
                <class>Fahasa_Facebookuser_Model_Mysql4</class>
                <entities>
                    <facebookuser>
                        <table>facebook_user</table>
                    </facebookuser>
                     <facebookconfirm>
                        <table>facebook_confirm</table>
                    </facebookconfirm>
                </entities>
            </facebookuser_mysql4>  
        </models>
        <resources>
            <facebookuser_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebookuser_write>
            <facebookuser_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebookuser_read>
            <facebookuser_setup>
                <setup>
                    <module>Fahasa_Facebookuser</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </facebookuser_setup>                       
        </resources>
    </global>
</config>
