<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Seriesbook>
            <version>0.0.1</version>
        </Fahasa_Seriesbook>
    </modules>
    <global>
        <helpers>
            <seriesbook>
                <class>Fahasa_Seriesbook_Helper</class>
            </seriesbook>
        </helpers>
        <blocks>
            <seriesbook>
                <class>Fahasa_Seriesbook_Block</class>
            </seriesbook>
        </blocks>
        <models>
            <seriesbook>
                <class>Fahasa_Seriesbook_Model</class>
            </seriesbook>
        </models>
	<resources>
            <seriesbook_setup>
                <setup>
                    <module>Fahasa_Seriesbook</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seriesbook_setup>
	</resources>
	<catalog>
            <product>
                <type>
                    <series translate="label" module="catalog">
                        <label>Series</label>
                        <model>seriesbook/product_type_series</model>
                        <is_qty>1</is_qty>
                        <index_data_retreiver>seriesbook/catalogIndex_data_series</index_data_retreiver>
                        <composite>0</composite>
                    </series>
                </type>
	    </product>        
        </catalog>
    </global>
    <frontend>
        <routers>
            <seriesbook>
                <use>standard</use>
                <args>
                    <module>Fahasa_Seriesbook</module>
                    <frontName>seriesbook</frontName>
                </args>
            </seriesbook>
        </routers>
	<layout>
            <updates>
                <seriesbook>
                    <file>seriesbook.xml</file>
                </seriesbook>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
	<events>
	    <catalog_product_new_action>
		<observers>
		    <seriesbook_observer_catalog_product_new_action>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductNewAction</method>
		    </seriesbook_observer_catalog_product_new_action>
		</observers>
	    </catalog_product_new_action>
	    <catalog_product_edit_action>
		<observers>
		    <seriesbook_observer_catalog_product_edit_action>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductEditAction</method>
		    </seriesbook_observer_catalog_product_edit_action>
		</observers>
	    </catalog_product_edit_action>			
	    <catalog_product_prepare_save>
		<observers>
		    <seriesbook_observer_catalog_product_prepare_save>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductPrepareSave</method>
		    </seriesbook_observer_catalog_product_prepare_save>
		</observers>
	    </catalog_product_prepare_save>
	    <catalog_product_delete_before>
		<observers>
		    <seriesbook_observer_catalog_product_delete_before>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductDeleteBefore</method>
		    </seriesbook_observer_catalog_product_delete_before>
		</observers>
	    </catalog_product_delete_before>            
	    <catalog_product_save_after>
		<observers>
		    <seriesbook_observer_catalog_product_save_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductSaveAfter</method>
		    </seriesbook_observer_catalog_product_save_after>
		</observers>
	    </catalog_product_save_after>
	    <catalog_product_status_update>
		<observers>
		    <seriesbook_observer_catalog_product_status_update>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductStatusUpdate</method>
		    </seriesbook_observer_catalog_product_status_update>
		</observers>
	    </catalog_product_status_update>            
	    <sales_order_item_save_after>
		<observers>
		    <seriesbook_observer_sales_order_item_save_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoSalesOrderItemSaveAfter</method>
		    </seriesbook_observer_sales_order_item_save_after>
		</observers>
	    </sales_order_item_save_after>
	    <sales_order_save_before>
		<observers>
		    <seriesbook_observer_sales_order_save_before>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoSalesOrderSaveBefore</method>
		    </seriesbook_observer_sales_order_save_before>
		</observers>
	    </sales_order_save_before>            
	    <sales_order_save_after>
		<observers>
		    <seriesbook_observer_sales_order_save_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoSalesOrderSaveAfter</method>
		    </seriesbook_observer_sales_order_save_after>
		</observers>
	    </sales_order_save_after>
	    <catalogrule_before_apply>
		<observers>
		    <seriesbook_observer_catalogrule_before_apply>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogruleBeforeApply</method>
		    </seriesbook_observer_catalogrule_before_apply>
		</observers>
	    </catalogrule_before_apply>
	    <catalogrule_after_apply>
		<observers>
		    <seriesbook_observer_catalogrule_after_apply>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogruleAfterApply</method>
		    </seriesbook_observer_catalogrule_after_apply>
		</observers>
	    </catalogrule_after_apply>
	    <catalog_entity_attribute_save_after>
		<observers>
		    <seriesbook_observer_catalog_entity_attribute_save_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogEntityAttributeSaveAfter</method>
		    </seriesbook_observer_catalog_entity_attribute_save_after>
		</observers>
	    </catalog_entity_attribute_save_after>
	    <catalog_product_delete_after_done>
		<observers>
		    <seriesbook_observer_catalog_product_delete_after_done>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductDeleteAfterDone</method>
		    </seriesbook_observer_catalog_product_delete_after_done>
		</observers>
	    </catalog_product_delete_after_done>

	    <customer_login>
		<observers>
		    <seriesbook_observer_customer_login>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCustomerLogin</method>
		    </seriesbook_observer_customer_login>
		</observers>
	    </customer_login>
	    <customer_logout>
		<observers>
		    <seriesbook_observer_customer_logout>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCustomerLogout</method>
		    </seriesbook_observer_customer_logout>
		</observers>
	    </customer_logout>
	    <sales_quote_save_after>
		<observers>
		    <seriesbook_observer_sales_quote_save_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoSalesQuoteSaveAfter</method>
		    </seriesbook_observer_sales_quote_save_after>
		</observers>
	    </sales_quote_save_after>
	    <catalog_product_collection_load_after>
		<observers>
		    <seriesbook_observer_catalog_product_collection_load_after>
			<type>singleton</type>
			<class>seriesbook/observer</class>
			<method>hookIntoCatalogProductCollectionLoadAfter</method>
		    </seriesbook_observer_catalog_product_collection_load_after>
		</observers>
	    </catalog_product_collection_load_after>
	</events>
    </adminhtml>
    <default>
        <seriesbook_config>
            <config>
                <is_active>1</is_active>
                <sort_by></sort_by>
                <page_size>10</page_size>     
		<is_show_add_to_cart>0</is_show_add_to_cart>
		<send_noti_active>0</send_noti_active>
                <weekly_send_noti>1</weekly_send_noti>
                <day_show_new_label>3</day_show_new_label>
            </config>
        </seriesbook_config>
    </default>
</config>
