<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Reviewcouponcode>
            <version>0.1.0</version>
        </Fahasa_Reviewcouponcode>
    </modules>
    <global>
        <helpers>
            <reviewcouponcode>
                <class>Fahasa_Reviewcouponcode_Helper</class>
            </reviewcouponcode>
        </helpers>
        <events>
            <review_save_after>
                <observers>
                    <reviewcouponcode>
                        <type>singleton</type>               
                        <class>Fahasa_Reviewcouponcode_Model_Observer</class>
                        <method>fhsReviewSaveAfter</method>
                    </reviewcouponcode>
                </observers>
            </review_save_after>
        </events>
        <models>
            <reviewcouponcode>
                <class>Fahasa_Reviewcouponcode_Model</class>
                <resourceModel>reviewcoupon_mysql4</resourceModel>
            </reviewcouponcode>
            <reviewcoupon_mysql4>
                <class>Fahasa_Reviewcouponcode_Model_Mysql4</class>
                <entities>
                    <reviewcouponcode>
                        <table>review_coupon_code</table>
                    </reviewcouponcode>
                </entities>
            </reviewcoupon_mysql4>
        </models>    
        <resources>
            <reviewcouponcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviewcouponcode_write>
            <reviewcouponcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviewcouponcode_read>
            <reviewcouponcode_setup>
                <setup>
                    <module>Fahasa_Reviewcouponcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </reviewcouponcode_setup>                       
        </resources>        
    </global>        
</config>

