{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Xin chào, {{htmlescape var=$userName}}<br /><br />
Quyền hạn của bạn với <b>{{htmlescape var=$applicationName}}</b> đã được thay đổi thành <b>{{htmlescape var=$status}}</b> bởi Quản trị viên.<br /><br />
