<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Vietnamshipping>
			<version>0.1.7</version>
		</Magebuzz_Vietnamshipping>
	</modules>
	<frontend>
		<routers>
			<vietnamshipping>
				<use>standard</use>
				<args>
					<module>Magebuzz_Vietnamshipping</module>
					<frontName>vietnamshipping</frontName>
				</args>
			</vietnamshipping>
		</routers>
		<layout>
			<updates>
				<vietnamshipping>
					<file>vietnamshipping.xml</file>
				</vietnamshipping>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Vietnamshipping>
					<files>
						<default>Magebuzz_Vietnamshipping.csv</default>
					</files>
				</Magebuzz_Vietnamshipping>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<vietnamshipping>
				<use>admin</use>
				<args>
					<module>Magebuzz_Vietnamshipping</module>
					<frontName>vietnamshipping</frontName>
				</args>
			</vietnamshipping>
		</routers>
	</admin>
  <adminhtml>		
		<layout>
			<updates>
				<vietnamshipping>
					<file>vietnamshipping.xml</file>
				</vietnamshipping>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Vietnamshipping>
					<files>
						<default>Magebuzz_Vietnamshipping.csv</default>
					</files>
				</Magebuzz_Vietnamshipping>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<vietnamshipping>
				<class>Magebuzz_Vietnamshipping_Model</class>
				<resourceModel>vietnamshipping_mysql4</resourceModel>
			</vietnamshipping>
			<vietnamshipping_mysql4>
				<class>Magebuzz_Vietnamshipping_Model_Mysql4</class>
				<entities>
					<province>
						<table>vietnamshipping_province</table>
					</province>
          <district>
						<table>vietnamshipping_district</table>
					</district>
          <area>
						<table>vietnamshipping_area</table>
					</area>
          <rule>
						<table>vietnamshipping_rule</table>
					</rule>
          <store>
						<table>vietnamshipping_store</table>
					</store>
          <shippingweight>
						<table>vietnamshipping_shippingweight</table>
					</shippingweight>
				</entities>
			</vietnamshipping_mysql4>
			<eav>
				<rewrite>
					<attribute_data_text>Magebuzz_Vietnamshipping_Model_Customer_Attribute_Data_Text</attribute_data_text>
				</rewrite>
			</eav>
			<salesrule>
				<rewrite>
					<rule_condition_address>Magebuzz_Vietnamshipping_Model_Salesrule_Rule_Condition_Address</rule_condition_address>
				</rewrite>
			</salesrule>
		</models>
		<resources>
			<vietnamshipping_setup>
				<setup>
					<module>Magebuzz_Vietnamshipping</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</vietnamshipping_setup>
			<vietnamshipping_write>
				<connection>
					<use>core_write</use>
				</connection>
			</vietnamshipping_write>
			<vietnamshipping_read>
				<connection>
					<use>core_read</use>
				</connection>
			</vietnamshipping_read>
		</resources>
		<blocks>
			<vietnamshipping>
				<class>Magebuzz_Vietnamshipping_Block</class>
			</vietnamshipping>
      <adminhtml>
        <rewrite>
         <customer_edit_tab_addresses>Magebuzz_Vietnamshipping_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
        </rewrite>
      </adminhtml>
		</blocks>
		<helpers>
			<vietnamshipping>
				<class>Magebuzz_Vietnamshipping_Helper</class>
			</vietnamshipping>
			<directory>
				<rewrite>
					<data>Magebuzz_Vietnamshipping_Helper_Directory_Data</data>
				</rewrite>
			</directory>
		</helpers>
	</global>
  <default>
    <carriers>
      <vietnamshippingfree>
        <active>1</active>
        <model>vietnamshipping/carrier_vietnamshippingFree</model>
        <title>Mien phi van chuyen</title>
        <name>Vietnam Shipping - Free Shipping</name>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
      </vietnamshippingfree>
     <vietnamshippingnormal>
        <active>1</active>
        <model>vietnamshipping/carrier_vietnamshippingNormal</model>
        <title>Thoi gian giao hang tu thu 2 - thu 7</title>
	<notification>Miễn phí cho đơn hàng trên 140K HCM, HN, và 250K cho các tỉnh khác</notification>
	<increase_expected_day>1</increase_expected_day>
        <name>Vietnam Shipping - Normal Shipping</name>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
      </vietnamshippingnormal>
      <vietnamshippingexpress>
        <active>1</active>
        <model>vietnamshipping/carrier_vietnamshippingExpress</model>
        <title>Tat ca cac ngay </title>
        <name>Vietnam Shipping - Express Shipping</name>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
      </vietnamshippingexpress> 
      <vietnamshippingsameday>
        <active>0</active>
        <model>vietnamshipping/carrier_vietnamshippingSameday</model>
        <title>Giao hàng trong ngày (miễn phí cho đơn hàng trên 140K HCM, HN, và 250K cho các tỉnh khác.)</title>
        <name>Vietnam Shipping - Sameday Shipping</name>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
	<hourfornextday>12</hourfornextday>
	<solarholidays>01-01, 30-04, 01-05, 02-09</solarholidays>
	<lunarholidays></lunarholidays>
	<add_more_day_hcm>20</add_more_day_hcm>
	<add_more_day_hn>20</add_more_day_hn>
	<add_more_day_other>25</add_more_day_other>
      </vietnamshippingsameday> 
    </carriers>
  </default> 
</config>