<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Eventcart>
            <version>0.0.1</version>
        </Fahasa_Eventcart>
    </modules>
    <frontend>
       <routers>
          <eventcart>
              <use>standard</use>
              <args>
                 <module>Fahasa_Eventcart</module>
                 <frontName>eventcart</frontName>
              </args>
           </eventcart>
       </routers>
       <events>
            <salesrule_validator_process>
                <observers>
                    <eventcart>
                        <type>model</type>
                        <class>Fahasa_Eventcart_Model_Observer</class>
                        <method>setCouponLabelInSession</method>
                    </eventcart>
                </observers>
            </salesrule_validator_process>
            <sales_quote_address_collect_totals_before>
                 <observers>
                    <eventcart>
                        <type>model</type>
                        <class>Fahasa_Eventcart_Model_Observer</class>
                        <method>resetCouponLabelInSession</method>
                    </eventcart>
                </observers>
            </sales_quote_address_collect_totals_before>
        </events>
    </frontend>
    <global>
        <helpers>
            <eventcart>
                <class>Fahasa_Eventcart_Helper</class>
            </eventcart>
        </helpers>
    </global>
    <default>
        <eventcart_config>
            <config>
                <show_confirm_shipping_address>0</show_confirm_shipping_address>
                <min_reach_percent>50</min_reach_percent>
                <is_active_buffet_coupon>0</is_active_buffet_coupon>
                <event_cart_list>affect_coupons,affect_freeships,affect_payments,affect_carts</event_cart_list>
            </config>
        </eventcart_config>
    </default>
</config>