<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Logger>
            <version>0.1.1</version>
        </Fahasa_Logger>
    </modules>
    <frontend>
        <events>            
            <create_order_with_coupon_code_after>
                <observers>
                    <coupon_used_during_checkout>
                        <type>singleton</type>               
                        <class>Fahasa_Logger_Model_Observer</class>
                        <method>logCouponUsedDuringCheckout</method>
                    </coupon_used_during_checkout>
                </observers>
            </create_order_with_coupon_code_after>
            <sent_coupon_code_via_email_after>
                <observers>
                    <coupon_used_during_checkout>
                        <type>singleton</type>               
                        <class>Fahasa_Logger_Model_Observer</class>
                        <method>logCouponCodeSentViaEmail</method>
                    </coupon_used_during_checkout>
                </observers>
            </sent_coupon_code_via_email_after>
        </events>
    </frontend>
    <global>
        <helpers>
            <logger>
                <class>Fahasa_Logger_Helper</class>
            </logger>
        </helpers>        
        <models>
            <logger>
                <class>Fahasa_Logger_Model</class>
                <resourceModel>logger_mysql4</resourceModel>
            </logger>
            <logger_mysql4>
                <class>Fahasa_Logger_Model_Mysql4</class>
                <entities>
                    <logcouponuse>
                        <table>log_coupon_used</table>
                    </logcouponuse>
                    <logcouponsent>
                        <table>log_coupon_sent</table>
                    </logcouponsent>                                       
                </entities>
            </logger_mysql4>
        </models>
        <resources>
            <logger_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </logger_write>
            <logger_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </logger_read>
            <fhs_logger_setup>
                <setup>
                    <module>Fahasa_Logger</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </fhs_logger_setup>                       
        </resources>
    </global>
</config>
