<config>
    <modules>
        <Fahasa_Freeship>
            <version>0.1.2</version>
        </Fahasa_Freeship>
    </modules>
    <global>
        <helpers>
            <freeship>
                <class>Fahasa_Freeship_Helper</class>
            </freeship>
        </helpers>
        <models>
            <freeship>
                <class>Fahasa_Freeship_Model</class>
            </freeship>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <fahasa_freeship_apply>
                        <type>singleton</type>
                        <class>Fahasa_Freeship_Model_Observer</class>                        
                        <method>freeshipUpdate</method>
                    </fahasa_freeship_apply>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <freeship_setup>
                <setup>
                    <module>Fahasa_Freeship</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </freeship_setup>                       
        </resources>
        <sales>
            <quote>
                <totals>
                    <is_freeship>
                        <class>Fahasa_Freeship_Model_Sales_Quote_Address_Total_Freeship</class>
                        <after>subtotal</after>
                    </is_freeship>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <is_freeship>
                    <to_order>*</to_order>
                </is_freeship>
                <freeship_amount>
                    <to_order>*</to_order>
                </freeship_amount>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
</config>
