<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Customer>
            <version>1.3.0</version>
        </Fahasa_Customer>
    </modules>
    <frontend>
	<events>
	    <fhs_success_register_after_save>
		<observers>
		    <fahasa_customer_model_observer>
			    <type>model</type>
			    <class>Fahasa_customer_Model_Observer</class>
			    <method>createCustomer</method>
		    </fahasa_customer_model_observer>
		</observers>
	    </fhs_success_register_after_save>
	    <customer_save_after>
		<observers>
		    <fahasa_customer_model_observer>
			    <type>model</type>
			    <class>Fahasa_customer_Model_Observer</class>
			    <method>updateCustomer</method>
		    </fahasa_customer_model_observer>
		</observers>
	    </customer_save_after>
	</events>
        <routers>
            <customer>
                <args>
                    <modules>
                        <refer_customer before="Mage_Customer">Fahasa_Customer</refer_customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <blocks>
            <fahasa_customer>
                <class>Fahasa_Customer_Block</class>
            </fahasa_customer>
        </blocks>
        <helpers>
            <fahasa_customer>
                <class>Fahasa_Customer_Helper</class>
            </fahasa_customer>
        </helpers>
        <resources>
            <fahasa_customer_setup>
                <setup>
                    <module>Fahasa_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </fahasa_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <fahasa_customer>
                    <file>fahasa_customer.xml</file>
                </fahasa_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fahasa_Customer>
                    <files>
                        <default>Fahasa_Customer.csv</default>
                    </files>
                </Fahasa_Customer>
            </modules>
        </translate>
    </frontend>
</config>

