<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Vip>
            <version>0.1.7</version>
        </Fahasa_Vip>
    </modules>
    <frontend>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <fahasa_vip_discount_apply>
                        <type>singleton</type>
                        <class>Fahasa_Vip_Model_Observer</class>                        
                        <method>vipDiscountApply</method>
                    </fahasa_vip_discount_apply>
                </observers>
            </sales_quote_collect_totals_after>
        </events>  
    </frontend>
    <global>
        <helpers>
            <vip>
                <class>Fahasa_Vip_Helper</class>
            </vip>
        </helpers>
        <models>
            <vip>
                <class>Fahasa_Vip_Model</class>
                <resourceModel>vip_mysql4</resourceModel>
            </vip>
            <vip_mysql4>
                <class>Fahasa_Vip_Model_Mysql4</class>
                <entities>
                    <customervip>
                        <table>customer_vip</table>
                    </customervip>
                    <viplevel>
                        <table>vip_level</table>
                    </viplevel>                                    
                </entities>
            </vip_mysql4>             
        </models>
        <fieldsets>
            <sales_convert_quote_address>
                <coin_amount>
                    <to_order>*</to_order>
                </coin_amount>
            </sales_convert_quote_address>
            <sales_convert_quote>
                <vip_id>
                    <to_order>*</to_order>
                </vip_id>
                <is_vip>
                    <to_order>*</to_order>
                </is_vip>
                <is_coin>
                    <to_order>*</to_order>
                </is_coin>
                <coin_code>
                    <to_order>*</to_order>
                </coin_code>
                <vip_discount>
                    <to_order>*</to_order>
                </vip_discount>
<!--                <coupont_code2>
                    <to_order>*</to_order>
                </coupont_code2>-->
            </sales_convert_quote>
        </fieldsets>
        <resources>
            <vip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vip_write>
            <vip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vip_read>
            <vip_setup>
                <setup>
                    <module>Fahasa_Vip</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </vip_setup>                       
        </resources>
    </global>
    <default>
        <vip_input>
            <general>
                <text_field>Default value</text_field>
                <textarea></textarea>
                <dropdown>key2</dropdown>
                <multiple_dropdown>key1,key2</multiple_dropdown>
                <time>11,30,45</time>
                <active>1</active>
                <boolean>1</boolean>
                <dependant_text_field>Default value</dependant_text_field>
            </general>
        </vip_input>
    </default>
</config>
