<?xml version="1.0"?>
<config>
  <modules>
    <Fahasa_PhieuBinhChon>
      <version>0.1.0</version>
    </Fahasa_PhieuBinhChon>
  </modules>
  <frontend>
    <routers>
      <phieubinhchon>
        <use>standard</use>
          <args>
            <module>Fahasa_PhieuBinhChon</module>
            <frontName>phieubinhchon</frontName>
          </args>
      </phieubinhchon>
    </routers>
    <layout>
      <updates>
            <phieubinhchon>
              <file>phieubinhchon.xml</file>
            </phieubinhchon>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <phieubinhchon>
        <class>Fahasa_PhieuBinhChon_Helper</class>
      </phieubinhchon>
    </helpers>
	<blocks>
	  <phieubinhchon>
		<class>Fahasa_PhieuBinhChon_Block</class>
	  </phieubinhchon>
	</blocks>
	<resources>
	  <phieubinhchon_setup>
		<setup>
		  <module>Fahasa_PhieuBinhChon</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </phieubinhchon_setup>
	  <phieubinhchon_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </phieubinhchon_write>
	  <phieubinhchon_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </phieubinhchon_read>
	</resources>
  </global>
</config> 