<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_YKienKhachHang>
            <version>0.1.1</version>
        </Fahasa_YKienKhachHang>
    </modules>
    <frontend>
        <routers>
            <ykienkhachhang>
                <use>standard</use>
                <args>
                    <module>Fahasa_YKienKhachHang</module>
                    <frontName>ykienkhachhang</frontName>
                </args>
            </ykienkhachhang>
        </routers>
        <layout>
            <updates>
                <ykienkhachhang>
                    <file>ykienkhachhang.xml</file>
                </ykienkhachhang>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <ykienkhachhang>
                <class>Fahasa_YKienKhachHang_Helper</class>
            </ykienkhachhang>
        </helpers>
        <blocks>
            <ykienkhachhang>
                <class>Fahasa_YKienKhachHang_Block</class>
            </ykienkhachhang>
        </blocks>
        <resources>
            <ykienkhachhang_setup>
                <setup>
                    <module>Fahasa_YKienKhachHang</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ykienkhachhang_setup>
            <ykienkhachhang_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ykienkhachhang_write>
            <ykienkhachhang_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ykienkhachhang_read>
        </resources>
    </global>
</config> 