<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_CheckoutMessage>
            <version>0.1.0</version>
        </Fahasa_CheckoutMessage>
    </modules>
    <global>
        <models>
            <fahasa_checkoutmessage>
                <class>Fahasa_CheckoutMessage_Model</class>
            </fahasa_checkoutmessage>
        </models>
    </global>
</config>