<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Lastvarnishreloadts>
            <version>0.2.0</version>
        </Fahasa_Lastvarnishreloadts>
    </modules>    
    <global>    
        <helpers>
            <lastvarnishreloadts>
                <class>Fahasa_Lastvarnishreloadts_Helper</class>
            </lastvarnishreloadts>
        </helpers>            
        <models>
            <lastvarnishreloadts>
                <class>Fahasa_Lastvarnishreloadts_Model</class>
                <resourceModel>lastvarnishreloadts_mysql4</resourceModel>
            </lastvarnishreloadts>
            <lastvarnishreloadts_mysql4>
                <class>Fahasa_Lastvarnishreloadts_Model_Mysql4</class>
                <entities>
                    <lastvarnishreloadts>
                        <table>varnish_cache_reload_timestamp</table>
                    </lastvarnishreloadts>                                     
                </entities>
            </lastvarnishreloadts_mysql4>
        </models>
        <resources>
            <lastvarnishreloadts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lastvarnishreloadts_write>
            <lastvarnishreloadts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lastvarnishreloadts_read>
            <fhs_lastvarnishreloadts_setup>
                <setup>
                    <module>Fahasa_Lastvarnishreloadts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </fhs_lastvarnishreloadts_setup>                       
        </resources>
    </global>
</config>
