<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Almostcart>
            <version>0.1.1</version>
        </Fahasa_Almostcart>
    </modules>    
    <global>
        <helpers>
            <almostcart>
                <class>Fahasa_Almostcart_Helper</class>
            </almostcart>
        </helpers>
        <blocks>
            <almostcart>
                <class>Fahasa_Almostcart_Block</class>
            </almostcart>
        </blocks>
        <models>
            <almostcart>
                <class>Fahasa_Almostcart_Model</class>
                <resourceModel>almostcart_mysql4</resourceModel>
            </almostcart>
            <almostcart_mysql4>
                <class>Fahasa_Almostcart_Model_Mysql4</class>
                <entities>
                    <almostcart>
                        <table>almostcart_gift</table>
                    </almostcart>
                </entities>
            </almostcart_mysql4>            
        </models>
        <resources>
            <almostcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </almostcart_write>
            <almostcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </almostcart_read>
            <almostcart_setup>
                <setup>
                    <module>Fahasa_Almostcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </almostcart_setup>                       
        </resources>
    </global>
</config>