<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_ProductViewed>
            <version>0.0.1</version>
        </Fahasa_ProductViewed>
    </modules>
    <global>
        <helpers>
            <productviewed>
                <class>Fahasa_ProductViewed_Helper</class>
            </productviewed>
        </helpers>
        <blocks>
            <productviewed>
                <class>Fahasa_ProductViewed_Block</class>
            </productviewed>
        </blocks>
    </global>
    <frontend>
	<events>
	    <customer_login>
		<observers>
		    <fahasa_productviewed_model_observer>
			    <type>model</type>
			    <class>Fahasa_ProductViewed_Model_Data</class>
			    <method>MergeProductViewed</method>
		    </fahasa_productviewed_model_observer>
		</observers>
	    </customer_login>
	</events>
        <routers>
            <productviewed>
                <use>standard</use>
                <args>
                    <module>Fahasa_ProductViewed</module>
                    <frontName>productviewed</frontName>
                </args>
            </productviewed>
        </routers>
	<layout>
            <updates>
                <productviewed>
                    <file>productviewed.xml</file>
                </productviewed>
            </updates>
        </layout>
    </frontend>
    <default>
        <productviewed_config>
            <config>
                <is_active>0</is_active>
                <slider_limit>12</slider_limit>
                <page_size>24</page_size>
                <page_limit>48</page_limit>
            </config>
        </productviewed_config>
        <search_history_config>
            <config>
                <is_active>0</is_active>
                <store_limit>5</store_limit>
            </config>
            <keyword_hot>
                <is_active>0</is_active>
                <limit>5</limit>
                <version>1</version>
            </keyword_hot>
        </search_history_config>
    </default>
</config>
