<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Tryout>
            <version>0.1.7</version>
        </Fahasa_Tryout>
    </modules>
    <frontend>
        <routers>
            <tryout>
                <use>standard</use>
                <args>
                    <module>Fahasa_Tryout</module>
                    <frontName>tryout</frontName>
                </args>
            </tryout>
        </routers>
        <layout>
            <updates>
                <tryout>
                    <file>fahasa_tryout.xml</file>
                </tryout>
            </updates>
        </layout>
        <events>
            <sales_order_place_before>
                <observers>
                    <fahasa_tryout_order_observer>
                        <type>singleton</type>
                        <class>Fahasa_Tryout_Model_Observer</class>                        
                        <method>updateMoneyTryout</method>
                    </fahasa_tryout_order_observer>
                </observers>
            </sales_order_place_before>            
            <checkout_type_onepage_save_order_after>
                <observers>
                    <fahasa_tryout_action_log_observer>
                        <type>singleton</type>
                        <class>Fahasa_Tryout_Model_Observer</class>                        
                        <method>writeActionLog</method>
                    </fahasa_tryout_action_log_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>        
    </frontend>    
    <global>
        <events>
            <order_cancel_after>
                <observers>
                    <fahasa_tryout_refund_observer>
                        <type>singleton</type>
                        <class>Fahasa_Tryout_Model_Observer</class>                        
                        <method>refundMoneyTryout</method>
                    </fahasa_tryout_refund_observer>
                </observers>
            </order_cancel_after>
        </events>
        <blocks>
            <tryout>
                <class>Fahasa_Tryout_Block</class>
            </tryout>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Fahasa_Tryout_Block_Adminhtml_Sales_Order</sales_order_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Fahasa_Tryout_Block_Sales_Order</order_totals>
                </rewrite>
            </sales>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <tryout_discount>
                        <class>Fahasa_Tryout_Model_Sales_Quote_Address_Total_Tryoutdiscount</class>
                        <after>subtotal</after>
                    </tryout_discount>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <tryout_discount>
                    <to_order>*</to_order>
                </tryout_discount>
                <base_tryout_discount>
                    <to_order>*</to_order>
                </base_tryout_discount>
            </sales_convert_quote_address>
        </fieldsets>
        <helpers>
            <tryout>
                <class>Fahasa_Tryout_Helper</class>
            </tryout>
        </helpers>
        <models>
            <tryout>
                <class>Fahasa_Tryout_Model</class>
                <resourceModel>tryout_mysql4</resourceModel>
            </tryout>
            <tryout_mysql4>
                <class>Fahasa_Tryout_Model_Mysql4</class>
                <entities>
                    <tryout>
                        <table>tryout</table>
                    </tryout>
                    <tryoutcampaign>
                        <table>tryout_campaign</table>
                    </tryoutcampaign>
                    <tryouthistory>
                        <table>purchase_action_log</table>
                    </tryouthistory>
                </entities>
            </tryout_mysql4>             
        </models>
        <resources>
            <tryout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tryout_write>
            <tryout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tryout_read>
            <tryout_setup>
                <setup>
                    <module>Fahasa_Tryout</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </tryout_setup>                       
        </resources>
    </global>
        
</config>
