<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Phanloaivct>
            <version>0.1.1</version>
        </Fahasa_Phanloaivct>
    </modules>
    <admin>
        <routers>
            <phanloaivct>
                <use>admin</use>
                <args>
                    <module>Fahasa_Phanloaivct</module>
                    <frontName>phanloaivct</frontName>
                </args>
            </phanloaivct>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <phanloaivct>
                    <file>phanloaivct.xml</file>
                </phanloaivct>
            </updates>
        </layout>
        <menu>
            <system translate="title" module="phanloaivct">        
                <children>
                    <set_time>
                        <title>Normal Shipping</title>
                        <sort_order>10</sort_order>
                        <action>phanloaivct/index/index</action>
                    </set_time>
                </children>
            </system>
        </menu>
    
    </adminhtml>
    <global>
        <models>
            <phanloaivct>
                <class>Fahasa_Phanloaivct_Model</class>
                <resourceModel>phanloaivct_mysql4</resourceModel>
            </phanloaivct>
            <phanloaivct_mysql4>
                <class>Fahasa_Phanloaivct_Model_Mysql4</class>
                <entities>
                    <khuvuc>
                        <table>phanloaivct_khuvuc</table>
                    </khuvuc>                   
                </entities>
            </phanloaivct_mysql4>
        </models>
        <blocks>
            <phanloaivct>
                <class>Fahasa_Phanloaivct_Block</class>
            </phanloaivct>
        </blocks>
        <resources>
            <phanloaivct_setup>
                <setup>
                    <module>Fahasa_Phanloaivct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </phanloaivct_setup>
            <phanloaivct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </phanloaivct_write>
            <phanloaivct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </phanloaivct_read>
        </resources>
        <helpers>
            <phanloaivct>
                <class>Fahasa_Phanloaivct_Helper</class>
            </phanloaivct>
        </helpers>
    </global>
</config>
