<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Flashsale>
            <version>0.0.1</version>
        </Fahasa_Flashsale>
    </modules>
    <global>
        <helpers>
            <flashsale>
                <class>Fahasa_Flashsale_Helper</class>
            </flashsale>
        </helpers>
        <blocks>
            <flashsale>
                <class>Fahasa_Flashsale_Block</class>
            </flashsale>
        </blocks>
        <resources>
            <flashsale_setup>
                <setup>
                    <module>Fahasa_Flashsale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flashsale_setup>
        </resources>
        <models>
            <flashsale>
                <class>Fahasa_Flashsale_Model</class>
            </flashsale>
        </models>
        <events>
            <cataloginventory_resource_stock_correctitemqty>
                <observers>
                    <flashsale_outofstock>
                        <class>Fahasa_Flashsale_Model_Observer</class>
                        <method>correctFlashSaleQuantity</method>
                    </flashsale_outofstock>
                </observers>
            </cataloginventory_resource_stock_correctitemqty>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Fahasa_Flashsale>
                    <files>
                        <default>Fahasa_Flashsale.csv</default>
                    </files>
                </Fahasa_Flashsale>
            </modules>
        </translate>
        <layout>
            <updates>
                <flashsale>
                    <file>flashsale.xml</file>
                </flashsale>
            </updates>
        </layout>
    </frontend>
    <default>
        <flashsale_config>
            <config>
                <is_active>0</is_active>
                <active_flashsale_id>0</active_flashsale_id>
                <slider_limit>10</slider_limit>
                <products_per_page>12</products_per_page>
                <redis_port>6379</redis_port>
                <redis_host>localhost</redis_host>
		<redis_day_timelife>1</redis_day_timelife>
		<redis_querylier>1</redis_querylier>
		<redis_querylier_product>1</redis_querylier_product>
		<redis_querylier_catalog>1</redis_querylier_catalog>
            </config>
            <config_product_redis>
                <is_active>0</is_active>
                <redis_host_product>app3.fahasa.com</redis_host_product>
                <redis_port_product>13379</redis_port_product>
                <is_print_to_log>0</is_print_to_log>
            </config_product_redis>
        </flashsale_config>
    </default>
</config>
