<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Repayment>
            <version>0.0.1</version>
        </Fahasa_Repayment>
    </modules>
    <global>
        <helpers>
            <repayment>
                <class>Fahasa_Repayment_Helper</class>
            </repayment>
        </helpers>
        <blocks>
            <repayment>
                <class>Fahasa_Repayment_Block</class>
            </repayment>
        </blocks>
    </global>
    <frontend>
        <routers>
            <repayment>
                <use>standard</use>
                <args>
                    <module>Fahasa_Repayment</module>
                    <frontName>repayment</frontName>
                </args>
            </repayment>
        </routers>
        <translate>
            <modules>
                <Fahasa_Repayment>
                    <files>
                        <default>Mage_Checkout.csv</default>
                    </files>
                </Fahasa_Repayment>
            </modules>
        </translate>
	<layout>
            <updates>
                <repayment>
                    <file>repayment.xml</file>
                </repayment>
            </updates>
        </layout>
    </frontend>
    <default>
        <repayment_config>
            <config>
                <timeout>2700</timeout>
            </config>
        </repayment_config>
    </default>
</config>
