<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Mocapay>
            <version>0.1.0</version>
        </TTS_Mocapay>
    </modules>
    <default>
        <payment>
            <mocapay>
                <model>mocapay/mocapay</model>
                <title>Ví Moca trên Ứng dụng Grab</title>
                <vnp_Locale>vn</vnp_Locale>
                <vnp_Currency>VND</vnp_Currency>
            </mocapay>
        </payment>
    </default>
    <frontend>
        <routers>
            <mocapay>
                <use>standard</use>
                <args>
                    <module>TTS_Mocapay</module>
                    <frontName>mocapay</frontName>
                </args>
            </mocapay>
        </routers>
        <layout>
            <updates>
                <mocapay>
                    <file>mocapay.xml</file>
                </mocapay>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <mocapay>
                <class>TTS_Mocapay_Model</class>
                <resourceModel>mocapay_mysql4</resourceModel>
            </mocapay>
            <mocapay_mysql4>
                <class>TTS_Mocapay_Model_Mysql4</class>
                <entities>
                    <mocapay>
                        <table>mocapay</table>
                    </mocapay>
                </entities>
            </mocapay_mysql4>
        </models>
        <resources>
            <mocapay_setup>
                <setup>
                    <module>TTS_Mocapay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mocapay_setup>
            <mocapay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mocapay_write>
            <mocapay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mocapay_read>
        </resources>
        <blocks>
            <mocapay>
                <class>TTS_Mocapay_Block</class>
            </mocapay>
        </blocks>
        <helpers>
            <mocapay>
                <class>TTS_Mocapay_Helper</class>
            </mocapay>
        </helpers>
    </global>
</config>