<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Tichdiem>
            <version>0.1.1</version>
        </Fahasa_Tichdiem>
    </modules>
    <admin>
        <routers>
            <adminhtml>                 
                <args>
                    <modules>
                        <Fahasa_Tichdiem after="Mage_Adminhtml">Fahasa_Tichdiem</Fahasa_Tichdiem>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <tichdiem_order_refund_button>
                        <type>singleton</type>
                        <class>Fahasa_Tichdiem_Model_Observer</class>                        
                        <method>addTichdiemOrderRefundButton</method>
                    </tichdiem_order_refund_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <sales_order_status_after>
                <observers>
                    <tichdiem_order_status_after>
                        <type>singleton</type>               
                        <class>Fahasa_Tichdiem_Model_Observer</class>
                        <method>td_order_load_after</method>
                    </tichdiem_order_status_after>
                </observers>
            </sales_order_status_after>
        </events>        
    </adminhtml>    
    <global>
        <helpers>
            <tichdiem>
                <class>Fahasa_Tichdiem_Helper</class>
            </tichdiem>
        </helpers>        
        <models>
            <tichdiem>
                <class>Fahasa_Tichdiem_Model</class>
                <resourceModel>tichdiem_mysql4</resourceModel>
            </tichdiem>
            <tichdiem_mysql4>
                <class>Fahasa_Tichdiem_Model_Mysql4</class>
                <entities>
                    <totalscore>
                        <table>td_total_score</table>
                    </totalscore> 
                    <scoretransaction>
                        <table>td_score_transaction</table>
                    </scoretransaction>                  
                </entities>
            </tichdiem_mysql4>
            <sales>
                <rewrite>
                    <order>Fahasa_Tichdiem_Model_Order</order>
                </rewrite>
            </sales> 
        </models>
        <resources>
            <tichdiem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tichdiem_write>
            <tichdiem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tichdiem_read>
            <tichdiem_setup>
                <setup>
                    <module>Fahasa_Tichdiem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </tichdiem_setup>                       
        </resources>
    </global>
</config>