<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Tabslider>
            <version>0.0.4</version>
        </Fahasa_Tabslider>
    </modules>
    <global>
        <helpers>
            <tabslider>
                <class>Fahasa_Tabslider_Helper</class>
            </tabslider>
        </helpers>
        <blocks>
            <tabslider>
                <class>Fahasa_Tabslider_Block</class>
            </tabslider>
        </blocks>
        <resources>
            <tabslider_setup>
                <setup>
                    <module>Fahasa_Tabslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tabslider_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <tabslider>
                <use>standard</use>
                <args>
                    <module>Fahasa_Tabslider</module>
                    <frontName>tabslider</frontName>
                </args>
            </tabslider>
        </routers>
        <translate>
            <modules>
                <Fahasa_Tabslider>
                    <files>
                        <default>Fahasa_Tabslider.csv</default>
                    </files>
                </Fahasa_Tabslider>
            </modules>
        </translate>
    </frontend>
</config>
