<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Fhsrule>
            <version>0.1.0</version>
        </Fahasa_Fhsrule>
    </modules>
    <global>
        <blocks>
            <fhsrule>
                <class>Fahasa_Fhsrule_Block</class>
            </fhsrule>
        </blocks>
        <helpers>
            <fhsrule>
                <class>Fahasa_Fhsrule_Helper</class>
            </fhsrule>
        </helpers>
        <events>
            <salesrule_validator_process>
                <observers>
                    <add_rule_event_marathon>
                        <class>Fahasa_Fhsrule_Model_Observer</class>
                        <method>salesruleValidatorProcess</method>
                    </add_rule_event_marathon>
                </observers>
            </salesrule_validator_process>
        </events>
    </global>
    <frontend>
        <routers>
            <fhsrule>
                <use>standard</use>
                <args>
                    <module>Fahasa_Fhsrule</module>
                    <frontName>fhsrule</frontName>
                </args>
            </fhsrule>
        </routers>
        <translate>
            <modules>
                <Fahasa_Fhsrule>
                    <files>
                        <default>Fahasa_Fhsrule.csv</default>
                    </files>
                </Fahasa_Fhsrule>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
            <observers>
                <add_rule_discount_original>
                    <class>Fahasa_Fhsrule_Model_Observer</class>
                    <method>addNewActionDiscountOriginal</method>
                </add_rule_discount_original>
            </observers>
            </adminhtml_block_salesrule_actions_prepareform>
        </events>
    </adminhtml>
</config>
