<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Momopay>
            <version>0.1.0</version>
        </TTS_Momopay>
    </modules>
    <default>
    <payment>
      <momopay>
        <model>momopay/momopay</model>
      	<title>MomoPay Wallet</title>
<!--         <vnp_Locale>vn</vnp_Locale>
         <vnp_Currency>VND</vnp_Currency>-->
      </momopay>
    </payment>
  </default>
    <frontend>
      <routers>
            <momopay>
                <use>standard</use>
                <args>
                    <module>TTS_Momopay</module>
                    <frontName>momopay</frontName>
                </args>
            </momopay>
        </routers>
        <layout>
            <updates>
                <momopay>
                    <file>momopay.xml</file>
                </momopay>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <momopay>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>momopay/momopay::getAllOrderMommoPending</model></run>
            </momopay>
        </jobs>
    </crontab>
    <global>
        <models>
            <momopay>
                <class>TTS_Momopay_Model</class>
                <resourceModel>momopay_mysql4</resourceModel>
            </momopay>
             <momopay_mysql4>
                <class>TTS_Momopay_Model_Mysql4</class>
                <entities>
                    <momopay>
                        <table>momopay</table>
                    </momopay>
                </entities>
            </momopay_mysql4>
        </models>
        <resources>
            <momopay_setup>
                <setup>
                    <module>TTS_Momopay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </momopay_setup>
            <momopay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </momopay_write>
            <momopay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </momopay_read>
        </resources>
        <blocks>
            <momopay>
                <class>TTS_Momopay_Block</class>
            </momopay>
        </blocks>
        <helpers>
            <momopay>
                <class>TTS_Momopay_Helper</class>
            </momopay>
        </helpers>
    </global>
</config>