<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_PhieuDangKy>
            <version>0.1.1</version>
        </Fahasa_PhieuDangKy>
    </modules>
    <frontend>
        <routers>
            <phieudangky>
                <use>standard</use>
                <args>
                    <module>Fahasa_PhieuDangKy</module>
                    <frontName>phieudangky</frontName>
                </args>
            </phieudangky>
        </routers>
        <layout>
            <updates>
                <phieudangky>
                    <file>phieudangky.xml</file>
                </phieudangky>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <phieudangky>
                <class>Fahasa_PhieuDangKy_Helper</class>
            </phieudangky>
        </helpers>
        <blocks>
            <phieudangky>
                <class>Fahasa_PhieuDangKy_Block</class>
            </phieudangky>
        </blocks>
        <resources>
            <phieudangky_setup>
                <setup>
                    <module>Fahasa_PhieuDangKy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </phieudangky_setup>
            <phieudangky_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </phieudangky_write>
            <phieudangky_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </phieudangky_read>
        </resources>
    </global>
</config> 