<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Freeshipamount>
            <version>0.1.0</version>
        </Fahasa_Freeshipamount>
    </modules>
     <frontend>
        <layout>
            <updates>
                <freeshipamount>
                    <file>freeshipamount.xml</file>
                </freeshipamount>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <freeshipamount>
                <class>Fahasa_Freeshipamount_Model</class>
                <resourceModel>freeshipamount_mysql4</resourceModel>
            </freeshipamount>
           
        </models>
        <resources>
            <freeshipamount_setup>
                <setup>
                    <module>Fahasa_Freeshipamount</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freeshipamount_setup>
            <freeshipamount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freeshipamount_write>
            <freeshipamount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freeshipamount_read>
        </resources>
        <blocks>
            <freeshipamount>
                <class>Fahasa_Freeshipamount_Block</class>
            </freeshipamount>
        </blocks>

        <sales>
            <quote>
                <totals>
                    <freeship_amount>
                        <class>Fahasa_Freeshipamount_Model_Sales_Quote_Address_Total_Freeshipamountdiscount</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>                      
                    </freeship_amount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <freeship_amount>
                        <class>freeshipamount/sales_order_total_invoice_fee</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
                    </freeship_amount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <freeship_amount>
                        <class>freeshipamount/sales_order_total_creditmemo_fee</class>
                    </freeship_amount>
                </totals>
            </order_creditmemo>
        </sales>
      
        <fieldsets>
            <sales_convert_quote_address>
                <freeship_amount>
                    <to_order>*</to_order>
                </freeship_amount>
            </sales_convert_quote_address>
             <sales_convert_quote_address>
                <original_shipping_fee>
                    <to_order>*</to_order>
                </original_shipping_fee>
            </sales_convert_quote_address>
        </fieldsets>     
                
       
    </global>
    
    <default>
        <sales>
            <totals_sort>
                <freeshipamount>15</freeshipamount>
            </totals_sort>
        </sales>
    </default>     
</config>