<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Reviewsaction>
            <version>0.1.0</version>
        </Fahasa_Reviewsaction>
    </modules>
    <frontend>
        <routers>
            <reviewsaction>
                <use>standard</use>
                <args>
                    <module>Fahasa_Reviewsaction</module>
                    <frontName>reviewsaction</frontName>
                </args>
            </reviewsaction>
        </routers>
    </frontend>
    <global>
        <blocks>
            <reviewsaction>
                <class>Fahasa_Reviewsaction_Block</class>
            </reviewsaction>
        </blocks>
        <helpers>
            <reviewsaction>
                <class>Fahasa_Reviewsaction_Helper</class>
            </reviewsaction>
        </helpers>
        <models>
            <reviewsaction>
                <class>Fahasa_Reviewsaction_Model</class>
                <resourceModel>reviewsaction_mysql4</resourceModel>
            </reviewsaction>
            <reviewsaction_mysql4>
                <class>Fahasa_Reviewsaction_Model_Mysql4</class>
                <entities>
                    <reviewsaction>
                        <table>reviews_action</table>
                    </reviewsaction>                                   
                </entities>
            </reviewsaction_mysql4>             
        </models>
        <resources>
            <reviewsaction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviewsaction_write>
            <reviewsaction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviewsaction_read>
            <reviewsaction_setup>
                <setup>
                    <module>Fahasa_Reviewsaction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </reviewsaction_setup>                       
        </resources>
    </global>
</config>
