<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Pushnostocktoend>
            <version>0.0.1</version>
        </Fahasa_Pushnostocktoend>
    </modules>
    <frontend>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <pushNoStockToEnd_collection_load_before>
                        <type>singleton</type>               
                        <class>Fahasa_Pushnostocktoend_Model_Observer</class>
                        <method>catalog_product_collection_load_before</method>
                    </pushNoStockToEnd_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <pushNoStockToEnd_block_html_before>
                        <type>singleton</type>
                        <class>Fahasa_Pushnostocktoend_Model_Observer</class>
                        <method>block_html_before</method>
                    </pushNoStockToEnd_block_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <pushNoStockToEnd_block_html_after>
                        <type>singleton</type>
                        <class>Fahasa_Pushnostocktoend_Model_Observer</class>
                        <method>block_html_after</method>
                    </pushNoStockToEnd_block_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <global>
        <models>
            <pushnostocktoend>
                <class>Fahasa_Pushnostocktoend_Model</class>
            </pushnostocktoend>
        </models>            
    </global>
</config>
