
#ves-verticalmenu{
    right: 0px;
}
#header .header1 #ves-mainnav .navbar-toggle{
    left: 0px;
}
.custom-menu-homepage .col-md-3{
    padding-right :0px;
}
.custom-menu-none-homepage .col-md-3{
    padding-right :15px;
    padding-left :0px;
}
.header-link-left-custom{
    margin-top: 5px;
}
.custom-menu-none-homepage{
    display: flex;
    background-color: white;
}
.background-menu-homepage{
    background-color: #F0F0F0;
}
.fhs-header_mobile{
    display: none;
}
.fhs-header_desktop .fhs-header-top-bar{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 5px 0;
    background-color: white;
}
.fhs-header_desktop .fhs-header-top-bar > div:first-of-type{
    width: 40%;
}
.fhs-header_desktop > .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fhs-header_desktop .fhs-header-top-bar > div:last-of-type{
    width: 60%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.fhs-header_desktop .fhs-header-top-second-bar{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 5px 0;
    background-color: white;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:first-of-type{
    width: 209px;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:first-of-type a.logo{
    width: 104% !important;
    margin-top: 3px;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2){
    width: calc(100% - 500px);
    margin: 6px 0 0 30px;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(3){
    width: 325px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2) .form-search{
    position: relative;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2) .form-search > input{
    height: 43px;
    border: 2px solid #F7941E;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2) .form-search > span{
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #F7941E;
    border: 0;
    font-size: 21px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2) .search_box .input-search {
    font-size: 1.1em;
    border: 2px solid #F7941E;
    -webkit-appearance: none;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2) .search{
    width: 100%;
    padding-right: 16px;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(3) .noti-top{
    margin-top: 8px;
    position: relative;
}
.fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(3) > .cart-top{
    padding-left: 5px;
    position: relative;
    margin-top: -10px;
}
.fhs-header_mobile{
    background-color: #F7941E;
    height: 93.4px;
}
.fhs-header_mobile > .fhs-logo img{
    max-width: 130px;
    max-height: 30px;
    margin-top: 5px;
}
.fhs-header_mobile .fhs-header-top-bar{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 5px 4px 5px 4px;
}
#ves-mainnav{
    margin-top: 0;
}
.fhs-header_mobile .fhs-header-top-bar >div:first-of-type{
    text-align: center;
    width: 40px;
}
.fhs-header_mobile .fhs-header-top-bar > div:nth-of-type(2){
    width: calc(100% - 104px);
}
.fhs-header_mobile .fhs-header-top-bar > div:last-of-type{
    width: 58px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.fhs-header_mobile .fhs-header-top-bar.holded{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #F7941E;
    z-index: 999;
}
.fhs-header_mobile .fhs-header-top-bar.logined > div:nth-of-type(2){
    width: calc(100% - 156px);
}
.fhs-header_mobile .fhs-header-top-bar.logined > div:last-of-type{
    width: 108px;
}

.fhs-header_mobile .fhs-header-top-bar > div:last-of-type > div{
    padding: 0 3px;
}
.fhs-header_mobile .ves-verticalmenu.offcanvas-actived > .block-content{
    display: block !important;
    visibility: visible !important;
}
.fhs-header_mobile #ves-mainnav .navbar{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fhs-header_mobile #ves-mainnav .navbar-toggle{
    border: 0;
    margin: 0;
    background: none!important;
}
.fhs-header_mobile #ves-mainnav .navbar-toggle .icon-bar{
    height: 3px;
    width: 18px;
}
.fhs-header_mobile .fhs-header-top-bar > div:nth-of-type(2) .ves-autosearch{
    margin-left: 0;
}
.fhs-header_mobile .fhs-header-top-bar > div:nth-of-type(2) input{
    height: 33px;
    border: 1px solid #F7941E;
}
.fhs-header_mobile .fhs-header-top-bar > div:nth-of-type(2) .form-search{
    padding: 8px 0;
}
.fhs-header_mobile .fhs-header-top-bar > div:nth-of-type(2) .form-search > span{
    display: none;
}
.fhs-header_mobile .fhs-header-top-bar > div:last-of-type .top-notification-button #icon-nofi {
    background: url("/skin/frontend/base/default/images/ico_notif.svg") no-repeat center center;
    background-size : 20px;
    width : 30px;
    height: 35px;
}
.fhs-header_mobile .fhs-header-top-bar > div:last-of-type .login-cutomer-icon{
    background: url("/skin/frontend/base/default/images/ico_thongtintk.svg") no-repeat center center;
}
.fhs-header_mobile .fhs-header-top-bar > div:last-of-type .cart-top .shopping-cart-icon{
    background: url("/skin/frontend/base/default/images/ico_shopping_cart_white.svg") no-repeat center center;
    background-size: 25px;
}
.cart-number-mobile {
    width: 25px;
    background: #2ED62E;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    top: -2px;
    left: 16px;
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .fhs-header_desktop .fhs-header-top-second-bar > div:nth-of-type(2){
	width: calc(100% - 530px);
    }
}
@media screen and (min-width: 992px) {
    .custom-menu-homepage{
	padding-top: 15px;
    }
   .custom-menu-homepage2{
    padding-top: 15px;
    display : block;
    } 
}
@media screen and (max-width: 992px){
    .fhs-header_desktop{
	display: none;
    }
    .fhs-header_mobile{
	display: block;
    }
    .background-menu-homepage{
	padding-top: 10px;
    }
}
@media screen and (max-width: 775px){
    .container{
	padding-left: 0px;
	padding-right: 0px;
    }
}
