.block-vote{
    color: #333333;
    background-color: white; font-size: 10px;
    margin-top: 15px;
}

#top-voted-content{
    background-color: transparent;
    padding: 0px;
    border-right: 1px #d7d7d7 solid;
}

#top-voted-content .container-block{
    height: 260px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 40px 20px 15px;
}

#top-voted-content .index-number{
    color: #F7941E; font-weight: bold;font-size: 28px; 
}

#top-voted-content .product-img{
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 120px; 
    min-width: 120px; 
    background-size: contain;  
    height: auto; 
    width: auto;
}

#top-voted-content .product-name{
    color: #353535;   
    font-size: 22px;    
    font-weight: bold;
    line-height: 25px; 
    max-height: 80px;  
    word-break: break-word;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

#top-voted-content .final-price{
    color: #F7941E; font-weight: bold; font-size: 22px;
}

#top-voted-content .price{
    color: #353535; text-decoration: line-through; font-size: 14px;
}

#top-voted-content .discount-percent{
    color: #F7941E; font-weight: bold; font-size: 22px;  letter-spacing: 1px;
}

#top-voted-content .percent-voted{
    color: #c00; font-weight: bold; font-size: 16px;
}

#top-voted-content .btn-voted {
    padding: 10px 0px;
    border: 0;
    margin: 0 auto;
}

#top-voted-content .btn-voted .icon-voted {
    font-size:18px;margin-right: 5px;
}

#top-voted-content .btn-voted .btn-title{
    font-size: 16px;
}

#top-voted-content .hori-center{
    margin: 0 auto;   
}

.top-voted .banner-home-img.active{
    border-bottom: 5px solid #FFEE9D;
}

#top-voted #preview-product .image-container{
    text-align: center; height: 350px;
}

#top-voted #preview-product .image{
    max-height: 450px;
}

#top-voted #preview-product .name{
    font-weight: 600; font-size: 28px; height: 2.4em; line-height: 1.2em;  text-transform: uppercase; margin-top: 10px;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

#top-voted #preview-product .final-price{
    font-size: 28px; font-weight: 700;
}

#top-voted #preview-product .price-container{
    flex-direction: row; display: flex;align-items: flex-end;
}
#top-voted #preview-product .price{
    font-size: 1.4em; 
    text-decoration: line-through; 
}

#top-voted #preview-product .discount-percent{
    margin-left: 10px; margin-bottom: -4px; 
    font-size: 1.5em; 
    color: #F39801;
    background-color: rgba(247, 148, 30, 0.2); font-weight: bold;padding: 4px 8px;border-radius: 6px;
}

#top-voted #preview-product .description{
    margin-top: 16px; line-height:1.2em; font-size: 14px;
}

#top-voted-content .product-item2-container, .block-vote-lower .product-item2-container{
    display: flex;
    padding: 8px 0;
}

.block-vote .product-item2 .index-number-container{
    color: black; font-size: 1.4em; font-weight: bold;padding-left: 16px; padding-right: 16px; 
    display: flex;
    justify-content: center;flex-direction: column;
}

#top-voted-content .product-item2 .small-image{
    filter: brightness(45%); object-fit: contain;height: 160px; 
}

#top-voted-content .small-image:hover{
    filter: brightness(100%);
}
#top-voted-content .small-image-active{
    filter: brightness(100%); object-fit: contain;height: 160px; 
}

#top-voted-content .product-item2 .index-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); font-size: 24px; color: white;
}

.block-vote .product-item2 .name{
    color: black; text-align: left;
    font-size: 1.4em;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.8em;
}

.block-vote .product-item2 .author{
    color: gray; font-size: 1.3em;text-align: left;
}

.block-vote .product-item2 .vote-message{
    color: #2F80ED; font-size: 1.3em;text-align: left;
}

.block-vote .product-item2 .vote-info{
    padding-left: 16px; padding-right: 16px;
}
#top-voted-content.col-md-12 .product-item2-container:hover, .block-vote-lower .product-item2-container:hover{
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

.block-vote .product-item2-container .index-number-active{
    display: none;
}

.block-vote .product-item2 .small-image2{
    max-height: 100px;width: 100px;
}

.block-vote .header-vote{
    background-size: cover; padding-top: 16px; padding-right: 16px; padding-bottom: 16px; padding-left: 16px; 
}
 
.block-vote .header-vote .title-vote{
    color: white;font-weight: 550;font-size: 1.7em;  background-color: transparent;border: none;
}
.block-vote-lower{
    display: inline-block; 
    width: 100%;
}

/*old UI css*/
#top-voted-content .small-image:hover + .index-number{
    display:none !important;
}

#top-voted-content .small-image:hover{
    filter: brightness(100%) !important;
}
#top-voted-content .small-image .active{
    filter: brightness(100%) !important;
}
#top-voted-content .small-image:hover + .index-number{
    display:none !important;
}

#top-voted-content .product-item2, .block-vote-lower .product-item2{
    border-right: 0 solid transparent;
    display: flex;
    flex: 1
}

#block-fhs-vote .col-md-5 .product-item2-container:hover{
    border-right: 2px solid #F7941E;
}

#top-voted-content {
    transition: all 1ms step-start;
    padding: 0;
}

#vote-product:hover .percent-voted{
    display: none ;
}

#top-voted #preview-product a{
    color: #333333;
}

#top-voted .top-voted-header{
    margin-bottom: 25px; 
    text-align: center;
}

#top-voted .top-voted-header .cat-item{
    display: inline;
    border-radius: 25px;
    border: 0px solid #c3c8d9;
    padding: 8px 15px;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#top-voted .top-voted-header .cat-item.active{
    border: 2px solid #F7941E;
    color: white;
}

.block-vote .top-voted-header{
    margin-bottom: 1.4em;
    padding-left: 20px;
}

.block-vote .top-voted-header .cat-item{
    display: inline;
    border-radius: 0px;
    border: none;
    padding: 8px 12px;
    font-size: 1.4em;
    margin-right: 10px;
    background-color: transparent;
    width: auto !important;
}

.block-vote .top-voted-header .cat-item.active{
    color: #F7931E;
    border: 1px solid #F7931E;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;

}

#top-voted #preview-product .name {
    overflow: hidden;
    line-height: 1.5em;
    height: 3em; 
    text-transform: none;font-size: 1.8em; font-weight: 550; height: auto; margin-top: 0px;
}

#top-voted #preview-product .sub-info{
    font-size: 1.4em;
}

