<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Redeem>
            <version>0.1.0</version>
        </Fahasa_Redeem>
    </modules>
    <frontend>
        <routers>
            <redeem>
                <use>standard</use>
                <args>
                    <module>Fahasa_Redeem</module>
                    <frontName>redeem</frontName>
                </args>
            </redeem>
        </routers>
        <layout>
            <updates>
                <redeem>
                    <file>redeem.xml</file>
                </redeem>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <redeem>
                <class>Fahasa_Redeem_Helper</class>
            </redeem>
        </helpers>
        <blocks>
            <redeem>
                <class>Fahasa_Redeem_Block</class>
            </redeem>
        </blocks>
        <models>
            <redeem>
                <class>Fahasa_Redeem_Model</class>
                <resourceModel>redeem_mysql4</resourceModel>
            </redeem>
            <redeem_mysql4>
                <class>Fahasa_Redeem_Model_Mysql4</class>
                <entities>		  
                    <redeem>
                        <table>redeem</table>
                    </redeem>
                </entities>
            </redeem_mysql4>
        </models>
        <resources>
            <redeem_setup>
                <setup>
                    <module>Fahasa_Redeem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redeem_setup>
            <redeem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redeem_write>
            <redeem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redeem_read>
        </resources>
    </global>
</config> 