<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Zalopay>
            <version>0.1.1</version>
        </Fahasa_Zalopay>
    </modules>
    <global>
        <models>
            <zalopay>
                <class>Fahasa_Zalopay_Model</class>
            </zalopay>            
        </models>
        <helpers>
            <zalopay>
                <class>Fahasa_Zalopay_Helper</class>
            </zalopay>   
        </helpers>
        <blocks>
            <zalopay>
                <class>Fahasa_Zalopay_Block</class>
            </zalopay>
        </blocks>
        <resources>            
            <zalopay_setup>
                <setup>
                    <module>Fahasa_Zalopay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </zalopay_setup>                       
        </resources>
    </global>
    <default>
        <payment>
             <zalopay>
                <model>zalopay/payment</model>
                <active>1</active>
                <mode>0</mode>
                <order_status>pending</order_status>
                <order_status_succeed>pending</order_status_succeed>
                <title>ATM / Internet Banking, Visa/Master/JCB, Ví ZaloPay</title>
                <order_prefix>micode</order_prefix>
                <merchant_code></merchant_code>
                <passcode></passcode>	
                <secret_key></secret_key>			
                <create_order_url></create_order_url>
                <query_order_url></query_order_url>
                <cart_url></cart_url>	
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
            </zalopay>
            <zalopayatm>
                <model>zalopay/paymentatm</model>
                <active>1</active>
                <mode>0</mode>
                <order_status>pending</order_status>
                <order_status_succeed>pending</order_status_succeed>
                <title>ATM / Internet Banking</title>
                <order_prefix>micode</order_prefix>
                <merchant_code></merchant_code>
                <passcode></passcode>	
                <secret_key></secret_key>			
                <create_order_url></create_order_url>
                <query_order_url></query_order_url>
                <cart_url></cart_url>	
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
            </zalopayatm>
             <zalopaycc>
                <model>zalopay/paymentcc</model>
                <active>1</active>
                <mode>0</mode>
                <order_status>pending</order_status>
                <order_status_succeed>pending</order_status_succeed>
                <title>Visa / Master / JCB</title>
                <order_prefix>micode</order_prefix>
                <merchant_code></merchant_code>
                <passcode></passcode>	
                <secret_key></secret_key>			
                <create_order_url></create_order_url>
                <query_order_url></query_order_url>
                <cart_url></cart_url>	
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </zalopaycc>
            <zalopayapp>
                <model>zalopay/paymentapp</model>
                <active>1</active>
                <mode>0</mode>
                <order_status>pending</order_status>
                <order_status_succeed>pending</order_status_succeed>
                <title>Ví ZaloPay</title>
                <order_prefix>micode</order_prefix>
                <merchant_code></merchant_code>
                <passcode></passcode>
                <secret_key></secret_key>
                <create_order_url></create_order_url>
                <query_order_url></query_order_url>
                <cart_url></cart_url>	
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </zalopayapp>
        </payment>
    </default>
    <frontend>
        <routers>
            <zalopay>
                <use>standard</use>
                <args>
                    <module>Fahasa_Zalopay</module>
                    <frontName>zalopay</frontName>
                </args>
            </zalopay>
        </routers>
    </frontend>
</config>