<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Producttag>
            <version>0.1.0</version>
        </Fahasa_Producttag>
    </modules>
    <global>
        <blocks>
            <producttag>
                <class>Fahasa_Producttag_Block</class>
            </producttag>
        </blocks>
    </global>    
</config>