<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Airpay>
            <version>0.1.0</version>
        </TTS_Airpay>
    </modules>
    <default>
    <payment>
      <airpay>
        <model>airpay/airpay</model>
      	<title>Ví AirPay</title>
         <vnp_Locale>vn</vnp_Locale>
         <vnp_Currency>VND</vnp_Currency>
      </airpay>
    </payment>
  </default>
    <frontend>
      <routers>
            <airpay>
                <use>standard</use>
                <args>
                    <module>TTS_Airpay</module>
                    <frontName>airpay</frontName>
                </args>
            </airpay>
        </routers>
        <layout>
            <updates>
                <airpay>
                    <file>airpay.xml</file>
                </airpay>
            </updates>
        </layout>
    </frontend>
 
    <global>
        <models>
            <airpay>
                <class>TTS_Airpay_Model</class>
                <resourceModel>airpay_mysql4</resourceModel>
            </airpay>
             <airpay_mysql4>
                <class>TTS_Airpay_Model_Mysql4</class>
                <entities>
                    <airpay>
                        <table>airpay</table>
                    </airpay>
                </entities>
            </airpay_mysql4>
        </models>
        <resources>
            <airpay_setup>
                <setup>
                    <module>TTS_Airpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </airpay_setup>
            <airpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </airpay_write>
            <airpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </airpay_read>
        </resources>
        <blocks>
            <airpay>
                <class>TTS_Airpay_Block</class>
            </airpay>
        </blocks>
        <helpers>
            <airpay>
                <class>TTS_Airpay_Helper</class>
            </airpay>
        </helpers>
    </global>
</config>