<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Invoice>
            <version>0.1.0</version>
        </Fahasa_Invoice>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Fahasa_Invoice_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Fahasa_Invoice_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <fhsinvoice>
                <class>Fahasa_Invoice_Helper</class>
            </fhsinvoice>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Fahasa_Invoice>
                    <files>
                        <default>Fahasa_Invoice.csv</default>
                    </files>
                </Fahasa_Invoice>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Fahasa_Invoice>
                    <files>
                        <default>Fahasa_Invoice.csv</default>
                    </files>
                </Fahasa_Invoice>
            </modules>
        </translate>
    </frontend>
</config>