<?xml version="1.0"?>
<config>
    <modules>
        <Sonassi_FastSearchIndex>
            <version>1.2.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Sonassi_FastSearchIndex>
    </modules>
    <global>
        <models />
        <resources />
        <extraconfig />
        <blocks>
          <index>
            <rewrite>
              <adminhtml_process>Sonassi_FastSearchIndex_Block_Index_Adminhtml_Process</adminhtml_process>
            </rewrite>
          </index>  
        </blocks>
    </global>
    <admin>
      <routers>
          <fastsearchindex>
              <use>admin</use>
              <args>
                  <module>Sonassi_FastSearchIndex</module>
                  <frontName>fastsearchindex</frontName>
              </args>
          </fastsearchindex>
      </routers>
    </admin> 
</config>