<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fahasa_Availablestock>
            <version>0.2.0</version>
        </Fahasa_Availablestock>
    </modules>
    <frontend>
        <routers>
            <availablestock>
                <use>standard</use>
                <args>
                    <module>Fahasa_Availablestock</module>
                    <frontName>availablestock</frontName>
                </args>
            </availablestock>
        </routers>  
    </frontend>
    <global>
        <helpers>
            <availablestock>
                <class>Fahasa_Availablestock_Helper</class>
            </availablestock>
        </helpers>        
        <models>
            <availablestock>
                <class>Fahasa_Availablestock_Model</class>
                <resourceModel>availablestock_mysql4</resourceModel>
            </availablestock>
            <availablestock_mysql4>
                <class>Fahasa_Availablestock_Model_Mysql4</class>
                <entities>
                    <availablestock>
                        <table>available_stock</table>
                    </availablestock>                                     
                </entities>
            </availablestock_mysql4>
        </models>
        <resources>
            <availablestock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </availablestock_write>
            <availablestock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </availablestock_read>
            <fhs_availablestock_setup>
                <setup>
                    <module>Fahasa_Availablestock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>                
            </fhs_availablestock_setup>                       
        </resources>
    </global>
</config>
