<?xml version="1.0"?>
<config>
    <modules>
        <Fahasa_Codfee>
            <version>0.2.1</version>
        </Fahasa_Codfee>
    </modules>
    <frontend>
        <routers>
            <codfee>
                <use>standard</use>
                <args>
                    <module>Fahasa_Codfee</module>
                    <frontName>codfee</frontName>
                </args>
            </codfee>
        </routers>
        <layout>
            <updates>
                <codfee>
                    <file>codfee.xml</file>
                </codfee>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fahasa_Codfee>
                    <files>
                        <default>Fahasa_Codfee.csv</default>
                    </files>
                </Fahasa_Codfee>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <codfee>
                <use>admin</use>
                <args>
                    <module>Fahasa_Codfee</module>
                    <frontName>codfee</frontName>
                </args>
            </codfee>
        </routers>
    </admin>
    <adminhtml>		
        <layout>
            <updates>
                <codfee>
                    <file>codfee.xml</file>
                </codfee>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fahasa_Codfee>
                    <files>
                        <default>Fahasa_Codfee.csv</default>
                    </files>
                </Fahasa_Codfee>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <codfee>
                <class>Fahasa_Codfee_Model</class>
                <resourceModel>codfee_mysql4</resourceModel>
            </codfee>
            <codfee_mysql4>
                <class>Fahasa_Codfee_Model_Mysql4</class>
                <entities>
                    <province>
                        <table>codfee_province</table>
                    </province>
                    <district>
                        <table>codfee_district</table>
                    </district>
                    <area>
                        <table>codfee_area</table>
                    </area>
                    <rule>
                        <table>codfee_rule</table>
                    </rule>
                    <store>
                        <table>codfee_store</table>
                    </store>                    
                </entities>
            </codfee_mysql4>
        </models>
        <resources>
            <codfee_setup>
                <setup>
                    <module>Fahasa_Codfee</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codfee_setup>
            <codfee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codfee_write>
            <codfee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codfee_read>
        </resources>
        <blocks>
            <codfee>
                <class>Fahasa_Codfee_Block</class>
            </codfee>
        </blocks>
        <helpers>
            <codfee>
                <class>Fahasa_Codfee_Helper</class>
            </codfee>
        </helpers>
        
        <sales>
            <quote>
                <totals>
                    <codfee>
                        <class>codfee/sales_quote_address_total_fee</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>                      
                    </codfee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <codfee>
                        <class>codfee/sales_order_total_invoice_fee</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>grand_total</before>
                    </codfee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <codfee>
                        <class>codfee/sales_order_total_creditmemo_fee</class>
                    </codfee>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>codfee/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>codfee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>codfee/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <codfee>
                    <to_order>*</to_order>
                </codfee>
            </sales_convert_quote_address>
        </fieldsets>     
                
        <pdf>
            <!-- Add COD fee to "totals when export "phieu giao hang" to PDF -->
            <totals>
                <codfee translate="title">
                    <title>COD Fee</title>
                    <source_field>codfee</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>                    
                </codfee>
            </totals>
        </pdf>
    </global>
    
    <default>
        <sales>
            <totals_sort>
                <codfee>15</codfee>
            </totals_sort>
        </sales>
    </default>     
</config>