<?xml version="1.0"?>
<config>
    <tabs>
        <magebuzz translate="label">
            <label>Magebuzz Add-ons</label>
            <sort_order>400</sort_order>
        </magebuzz>
    </tabs>
    <sections>
       
        <codfee translate="label" module="codfee">
            <label>Vietnam COD</label>
            <tab>magebuzz</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_module>
                            <label>Enable Module</label>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable_module>
                    </fields>
                </general>
            </groups>
        </codfee>   
    </sections>
</config>