<config>
    <modules>
        <Fahasa_Catalog>
            <version>0.1.0</version>
        </Fahasa_Catalog>
    </modules>
    <global>
	<events>
	    <before_save_product_book_release_date>
		<observers>
		    <Fahasa_Catalog_Model_Observer>
			<type>model</type>           
			<class>Fahasa_Catalog_Model_Observer</class>
			<method>validateBookReleaseDate</method>
		    </Fahasa_Catalog_Model_Observer>
		</observers>
	    </before_save_product_book_release_date>
	    <catalog_controller_category_init_after>
		<observers>
		    <Fahasa_Catalog_Model_Observer>
			<type>model</type>           
			<class>Fahasa_Catalog_Model_Observer</class>
			<method>beforeLoadCatalogPage</method>
		    </Fahasa_Catalog_Model_Observer>
		</observers>
	    </catalog_controller_category_init_after>
	</events>
        <helpers>
            <fahasa_catalog>
                <class>Fahasa_Catalog_Helper</class>
            </fahasa_catalog>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Fahasa_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_listajax>Fahasa_Catalog_Block_Product_ListAjax</product_listajax>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <config>Fahasa_Catalog_Model_Config</config>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Fahasa_Catalog_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <fahasa_catalog>
                <use>standard</use>
                <args>
                    <module>Fahasa_Catalog</module>
                    <frontName>fahasa_catalog</frontName>
                </args>
            </fahasa_catalog>
        </routers>
    </frontend>
</config>